{% from 'macros.jinja2' import oxford_commas %}
{% filter rewrap %}
{% if authors %}
{{oxford_commas(authors)}} report{% if authors|length == 1 %}s{% endif %} on
behalf of the LIGO Scientific Collaboration and the Virgo Collaboration:
{% else %}
The LIGO Scientific Collaboration and the Virgo Collaboration report:
{% endif %}
{% endfilter %}
