{% from 'macros.jinja2' import naturalclassifications, evidence_for,
                               probability %}
{% filter rewrap %}
{% if classifications|length > 0 %}
{% if subject == 'Update' %}Assuming the candidate is astrophysical, the updated parameter estimation based {% else %}The {% endif %}classification of the GW signal, in order of descending probability,
is {{naturalclassifications(classifications)}}.
{% else %}
{% endif %}

{% endfilter %}
